<div class="" id="login-page">
    <div class="form-box">
        <form  (ngSubmit)="onSubmit()" [formGroup]="loginForm" >
              <div class="form-group">
                    <input type="text" formControlName="userName" class="form-control box1" placeholder="User Name"  id="userName" name="userName"  [class.is-invalid]="userName.touched && userName.invalid"  required />
                    <div class="text-danger" [class.d-none]="userName.valid || userName.untouched">User Name is required</div>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" name="password"  formControlName="password" id="password" [class.is-invalid]="password.touched && password.invalid" required/>
                    <div *ngIf="password.touched && password.errors" >
                        <div class="text-danger" *ngIf="password.errors?.pattern" [class.d-none]="password.valid || password.untouched"> Password must be 8 digits long and include at least one numeric digit.</div>
                        <div class="text-danger" *ngIf="password.errors?.required" [class.d-none]="password.valid || password.untouched">Password  is Required</div>
                    </div>
                </div>
           
            <input type="submit" class="btn btn-social" value="LOGIN" [disabled]="loginForm.invalid"/>
            <a routerLink="/signup" class="login-action" title="Sign up">
                <p>New userName?&nbsp;Signup</p>
            </a>
        </form>
    </div>
</div>